@model List<ELNET_FinalsProject.Models.OrderItem>

@{
    ViewData["Title"] = "Your Cart";
    var subtotal = Model?.Sum(i => i.Total) ?? 0;
    var tax = subtotal * 0.12m;
    var total = subtotal + tax;
}

<div class ="navbar">

    <div class="nav-left">
        <h2>PICKOUT COFFEE</h2>
    </div>

    <div class="nav-center">
        <a asp-controller="Store" asp-action="Index" class="nav-link active">Home</a>
    </div>

    <div class="nav-right">
        <a asp-controller="Order" asp-action="Cart" class="nav-icon active-cart">
            🛒
        </a> 
        <a asp-controller="Identity" asp-action="Profile" class="nav-icon">
            👤
        </a>
    </div>

</div>
<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        position: sticky; /*sticks to one place whenever you scroll*/
        top: 0;           /*sticks at the top*/
        z-index: 100;     /*ensures that it stays above other content*/
        background-color: #f5f5f5;
        
        padding: 10px 30px;
        color: #9caf6c;
    }

    .nav-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-link {
        text-decoration: none;
        color: #9caf6c;
        padding: 5px 20px;
        border-radius: 30px;
        transition: 0.3s ease;
    }

    .nav-link:hover {
        background: #9caf6c;
        text-decoration: none;
        padding: 5px 30px;
        color: white;
    }

    .nav-link.active {
        border: 2px solid #9caf6c;
    }

    .active-cart {
        background: #9caf6c;
        border: 2px solid #9caf6c;
        transition: 0.3s ease;
    }

    .nav-left h2 {
        margin: 0;
        font-weight: bold;
        font-size: 25px;
    }

    .nav-right {
        display: flex;
        gap: 20px;
    }

    .nav-icon {
        text-decoration: none;
        font-size: 25px;
        /* These 3 lines center the 🛒 perfectly */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* This is the secret: it keeps the bubble relative to the icon */
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .nav-icon:hover {
         text-decoration: none;
         background: #9caf6c;
    }

    .cart-container {
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }

    .cart-title h1 {
        font-weight: bold;
        font-size: 65px;
        margin-bottom: 1px;
    }

    .cart-title p {
        font-size: 20px;
    }

    .cart-title {
        color: #9caf6c;
        margin-bottom: 20px;
    }

    .cart-layout {
        display: flex;
        gap: 20px;
    }

    .cart-items {
        flex: 2;
    }

    .cart-card {
        background: #9caf6c;
        border-radius: 30px;
        padding: 15px;
        margin-bottom: 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .item-left img {
        width: 80px;

    }

    .item-name {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    .item-price {
        color: white;
        margin-top: 5px;
    }

    .qty-box {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .qty-btn {
        background: #ddd;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        cursor: pointer;
    }

    .qty-btn:hover {
        transform: scale(1.1);
    }

    .summary {
        background: #9caf6c;      
        border-radius: 40px;
        padding: 20px;
        color: white;
        height: fit-content;
    }

    .summary h2 {
        margin-bottom: 20px;
    }

    .total-price {
        font-size: 32px;
        font-weight: 800;
    }

    .summary-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .total-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checkout-btn {
        display: block;
        background-color: white;
        width: 100%;
        text-align: center;
        padding: 12px;
        margin-top: 10px;
        border-radius: 25px;
        border: 1px solid white;
        color: #9CAF6C;
        text-decoration: none;
        transition: 0.3s;
    }

    .checkout-btn:hover {
        text-decoration: none;

    }

    .keep-shopping-btn {
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px;
        margin-top: 10px;
        border-radius: 25px;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }

    .keep-shopping-btn:hover {
        text-decoration: none;
        background: rgba(255,255,255,0.2);
        color: #f5f5f5;
    }

    .delete-btn {
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
        transition: 0.3s;
    }

    .delete-btn:hover {
        text-decoration: none;
        transform: scale(1.1);
    }

    .empty-cart {
        background: #9CAF6C;
        padding: 50px;
        border-radius: 25px;
        text-align: center;
        color: white;
        backdrop-filter: blur(10px);
    }

    .empty-cart h2 {
    font-size: 40px;
    margin-bottom: 5px;
    }

    .empty-cart p {
        margin-top: 5px;
        font-size: 18px;
    }

    .browse-btn {
        margin-top: 25px;
        display: inline-block;
        background: white;
        color: #9CAF6C;
        padding: 14px 30px;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
    }

    .browse-btn:hover {
        text-decoration: none;
        transform: translateY(-2px);
        background: #f5f5f5;
    }
</style>

<div class="cart-container">
    
    <div class="cart-title">
        <h1>Your Cart</h1>
        <p>Every sip is a step towards serenity.</p>
    </div>

    <div class="cart-layout">

        <!-- left -->
        <div class="cart-items"> 
            @if (Model == null || !Model.Any())
            {
                <div class="empty-cart">
                    <h2> Your Cart is empty</h2>
                    <p>Looks like you haven't added anything yet.</p>
                    
                    <a asp-controller="Store" asp-action="Index" class="browse-btn">
                        Browse Menu
                    </a>

                </div>
            } 
            else
            {
                @foreach (var item in Model)
                {
                    <div class="cart-card">
                        <div class="item-left">
                            <img src="@item.Menu.ImagePath" />
                            <div>
                                <div class="item-name">
                                    @item.Menu.Name
                                </div>
                                <div class="item-price">
                                    ₱@item.Price
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <form asp-controller="Order" method="post" class="qty-box justify-content-center">
                                <input type="hidden" name="orderItemId" value="@item.OrderItemId"/>
                                <button type="submit" class="qty-btn" formaction="Decrease">-</button>
                                <span>@item.Quantity</span>
                                <button type="submit" class="qty-btn" formaction="Increase">+</button>
                                <button type="submit" class="qty-btn" formaction="Remove">🗑️</button>
                            </form>
                            @*
                                
                            <a asp-action="Decrease"
                                   asp-route-id="@item.OrderItemId">
                                <button class="qty-btn">-</button>
                            </a>

                            <span>@item.Quantity</span>

                            <a asp-action="Increase"
                                   asp-route-id="@item.OrderItemId">
                                <button class="qty-btn">+</button>
                            </a>

                            <a asp-action="Remove"
                                   asp-route-id="@item.OrderItemId"
                                   class="delete-btn">
                                🗑️
                            </a>
                            *@

                        </div>



                    </div>
                }
            }   
        </div>

        <!--RIGHT-->
        @if (Model != null && Model.Any())
        {
            <div class="summary">
                <h2>Order Summary</h2>


                <div class="summary-row">
                    <span>Subtotal</span>
                    <span>₱@subtotal</span>
                </div>

                <div class="summary-row">
                    <span>Tax</span>
                    <span>₱@tax.ToString("N2")</span>
                </div>
                <hr>
                <div class="summary-row total-row">
                    <span>Total</span>
                    <span class="total-price">₱@total.ToString("N2")</span>
                </div>

                <a asp-action="Checkout"
                class="checkout-btn">

                    Checkout →
                </a>

                <a asp-controller="Store"
                asp-action="Index"
                class="keep-shopping-btn">

                    Keep Shopping
                </a>
            </div>
        }
    </div>

</div>